__pycache__/
*.pyc
.env
config.py
.venv/
venv/
debug/
amazon_cookies.json
amazon_cookies_uk.json
amazon_cookies_us.json
fnac_cookies.json
toysrus_cookies.json
game_cookies.json
products_snapshot.json
onepiece_snapshot.json
accesorios_onepiece_snapshot.json
